@mixin gradient($args...) {
  background: -moz-linear-gradient($args);
  background: -webkit-linear-gradient($args);
  background: -o-linear-gradient($args);
  background: -ms-linear-gradient($args);
  background: linear-gradient($args);
}